* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    background-color: rgb(235,233,230);
}
div.nav{
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
}
.logo{
    float:left;
}
.navtitle{
    margin:20px 50px 0 10px;
    font-family: "Tangerine";
    color: white;
    font-size:35px;
    float: left;
    letter-spacing: 10px;
    font-weight: bold;
}
ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
    
    list-style-type: none;
}
li a, #book{
    font-size: 15px;
    color: white;
    float: right;
    margin:20px 10px 10px 10px;
    text-decoration: none;
    border: 1px solid white;
    padding:5px 8px;
    border-radius: 15px;
    transition: all 0.5s;
}
li a:hover, #book:hover{
    color:#000000bd;
    background-color: white;
}
#book{
    float: right;
    color: rgb(255,215,0);
}

.intro{
    display: flex;
    height:95vh;
}
.title{
    width:50%;
    position: relative;
    flex-direction: column;
}
/* div.primary{
    display: block;
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family:"Lato", sans-serif ;
    font-size:30px;
    font-weight: 700;
    letter-spacing: 10px;
} */
.secondary{
    position:absolute;
    top:30%;
    left:30%;
    transform: translate(-40%,-50%);
    font-size: 75px;
    letter-spacing: 3px;
    font-family: "Itim", cursive;
    animation-name: introd;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
@keyframes introd {
    0%{
        opacity:0;
    }
    80%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}
.btn-white{
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-80%,-50%);
    font-size: 25px;
    letter-spacing: 3px;
    font-family: "Lato", sans-serif;
    background-color: white;
    padding: 5px 15px;
    border-radius: 20px;
    transition: all 1s;
}
.btn-white a, .btn-white a:active{
    color:black;
    text-decoration: none;
}
.btn-white:hover {
    background-color: black;
}
.btn-white a:hover{
    color:white;
}
.cover{
    position: relative;
    width:50%;
    background-image:/*linear-gradient(to right, rgba(19, 106, 138, 0.4), rgba(38, 120, 113, 0.5)),*/ url("cuisine2.jpg");
    background-size: cover;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
    z-index: 0;
    animation-name: cov;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
@keyframes cov {
    0%{
        left:200px;
    }
    80%{
        left:50px;
    }
    100%{
        left:0px;
    }
}
.sp-intro{
    display: flex;
    height:100vh;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
    
}

.sp-cover{
    width:50%;
    background-image: linear-gradient(90deg, rgba(241,164,9,0.6589986336331408) 0%, rgba(209,113,29,0.5637605383950455) 46%, rgba(242,204,12,0.5917717428768383) 99%), url("cuisine3.jpg");
    background-size: cover;
    z-index: 0;
}
.sp-cover #spsub{
    position: relative;
    top:50%;
    left: 10%;
    font-size: 50px;
    color:whitesmoke;
    font-family: "Tangerine", cursive;
    background-color: rgba(165, 42, 42);
}
.sp-title{
    width:50%;
    position: relative;
    flex-direction: column;
    padding-top:200px;
    padding-left: 25px;
    font-family: "Itim", cursive;
    font-size: 40px;
}
.specialties{
    margin-top: 50px;
}
.frame{
    display:flex;
    margin: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cards{
    background-color: white;
    width:20%;
    height:350px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 gray;
    border:1px solid rgba(181, 185, 141, 0.877);
    border-radius: 10px;
}
.cards:hover{
    box-shadow: 0 6px 10px 0 gray;
}
.name{
    margin:0;
    float: left;
    margin: 2px;
}
.btn, .btn:active{
    margin:2px 4px 2px 2px;
    float: right;
    color:rgb(46, 184, 28);
    border: 2px solid rgb(46, 184, 28);
    padding: 5px;
    border-radius: 15px;
    transition: all 0.5s;
}
.btn a{
    text-decoration: none;
    color:rgb(46, 184, 28) ;
}
.btn:hover{
    background-color: rgb(46, 184, 28);
    color: whitesmoke;
    box-shadow: 0 4px 8px 0 gray;
}
.btn a:hover, .btn a:active{
    color: whitesmoke;
}
.btn:active{
    position: relative;
    box-shadow: 0 3px 3px 0 gray;
    bottom:1px;
}
.btn a:focus, .btn:focus{
    visibility: hidden;
}

.btn a:focus::after, .btn:focus::after{
    content: 'Added';
    visibility: visible;
    display: block;
    position: relative;
    bottom: 10px;
}
.text{
    clear:both;
    margin-bottom: 5px;
    padding: 10px;
}
.cat{
            
    float: left;
}
.cat img{
    margin-left: 10px;
    width:30px;
    height: auto;
}
.price{
    float: right;
    margin: 5px;
    font-weight: bold;
}
.recommended{
    position:relative;
    margin: 10px;
    top: 50px;
}
.rintro{
    margin:30px 10px;
}
.mainhead{
    font-family: "Itim", cursive;
    font-size: 40px;
}
.subhead{
    position: relative;
    top: 15px;
    font-family: "Itim", cursive;
    font-size: 25px;
}
.search{
    margin:10px;
}
.sbox{
    position: relative;
    left: 40px;
    width: 75%;
    height: 26px;
    box-shadow: 0 39x 4px 0 gray;
}
.slg{
    position:relative;
    left: 39px;
    top:8px;
    border: 1px solid gray;
    box-shadow: 0 39x 4px 0 gray;
}
.sbox:hover, .slg:hover{
    box-shadow: 0 4px 8px 0 gray;
}
.reviews{
    position: relative;
    top:250px;
    margin: 20px 25px;
}
.headrev{
    background-image:linear-gradient(0deg, rgba(34,193,195,0.3) 0%, rgba(253,187,45,0.3) 100%) ,url("del.jpg");
    height: 80vh;
    clip-path: polygon(0 5%, 100% 5%, 100% 60%, 0 100%);
    border-radius: 30px;
}
.headrev h1{
    width:30px;
    position: relative;
    top:50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: "Itim", cursive;
    font-size: 50px;
    font-weight: bold;
    color: rgb(252, 216, 216);
}
.card{
    width:100%;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 0 3px 4px 0 gray;
    margin:15px;
}
.card:hover{
    box-shadow: 0 4px 8px 0 gray;
}
.photo{
    float: left;
    margin-right: 10px;
}
.comment h3{
    margin:0;
}
.reviewus{
    position: relative;
    top: 300px;
    margin:15px;
    width:50%;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(0deg, rgba(36,69,69,0.7570378493194152) 0%, rgba(94,96,64,0.7346288857339811) 100%);
    padding: 10px;
    border-radius: 15px;
}
.reviewus h2{
    margin-bottom: 25px;
    color:wheat;
}
.reviewus h3{
    margin: 10px 0;
    color: whitesmoke;
}
label{
    font-size: 12px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
input{
    width: 400px ;
}
.fl{
    clear: both;
    margin: 10px;
}
.footer{
    display: flex;
    position: relative;
    top: 450px;
    background-color: black;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer h2{
    color:white;
    font-family: "Itim", cursive;
    font-size: 25px;
}
.footer p{
    margin:0;
    padding:0;
    color: white;
    font-size: 15px;
}
.conc{
    width:50%;
}
.connect{
    width: 30%;
}
.con{
    float: left;
    margin: 20px 10px;
}
